// Unit helpers
$base-unit: 4px !default;
$max-helper: 4;

@for $i from 0 through $max-helper {
  .mt-#{$i} {
    margin-top: $base-unit * $i;
  }

  .ml-#{$i} {
    margin-left: $base-unit * $i;
  }

  .mr-#{$i} {
    margin-right: $base-unit * $i;
  }

  .mb-#{$i} {
    margin-bottom: $base-unit * $i;
  }

  .mh-#{$i} {
    margin-left: $base-unit * $i;
    margin-right: $base-unit * $i;
  }
}
