html
  head
    meta(name='viewport' content='width=device-width')
    title= title
  body
    .flex-center
      .container#vue-app
        header.row.mt-15
          .col.col-1-3.hide-on-mobile
            img(src='static/img/logo.png')
          .col.col-2-3.show-on-mobile
            img(src='static/img/logo.png')
          .col.col-1-3.hide-on-mobile
          .col.col-1-3.flex-middle.flex-right
            login-button.mt-0(class='', label=__('Sign In'))
            i.fa.fa-shopping-cart.fa-lg.ml-3
        div
          block content
    script(src='dist/bundle.js')
